*{
  margin: 0px;
  padding: 0px;
}

.everything{
  max-width: 1900px;
  width: 100%;
  height: auto;
  min-width: 1900px;
}

body{
  background-color: white;
  font-family: arial, sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  margin: 0;
  float: left;
}

#img{
  background-image: url('../images/about.jpeg');
  border-style: none;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  margin-top: -19%;
  margin-bottom: 4px;
}

.container{
  color: white;
  background-color: tomato;
  font-size: 30px;
  width: 23%;
  margin-top: -20%;
  margin-left: 38%;
  text-align: center;
  border-style: solid;
  border-color: tomato;
  padding: 10px;
}

.area2{
  text-align: left;
  line-height: 100px;
  margin-left: 80px;
  margin-top: -90px;
  font-size: 30px;
}

.area{
  padding: 10px;
}


#main_header{
  margin-top: -10px;
  margin-left: 200px;
  margin-bottom: 300px;
  border-style: none;
  height: 800px;
  font-weight: bold;
  color: tomato;
}
