*{
	margin: 0%;
	padding: 0%;
}

.info_header{
	font-weight: bold;
	color: white;
	background-color: tomato;
	text-align: center;
	font-size: 27px;
	padding: 5px;
	font-family: Brush Script MT, Brush Script Std, cursive;
}

.img{
	background-image: url('../images/about.jpeg');
	border-style: none;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 800px;
}

.area{
	padding: 10px;
}

#main_header{
	margin-top: ;
	margin-left: 10%;
	border-style: none;
	height: auto;
	font-weight: bold;
	color: tomato;
	padding: 10px;
}

.area2{
	text-align: left;
	line-height: 100px;
	margin-left: 80px;
	margin-top: -90px;
	font-size: 30px;
	color: tomato;
}

.area2 a{
	color: tomato;
	text-decoration: none;
}

.area2 a:active{
	color: darkseagreen;
}

.navigation_bar{
	text-align: right;
	margin-top: -41%;
	margin-bottom: ;
	word-spacing: 20px;
	font-size: 25px;
	font-weight: bold;
	color: tomato;
}

.navigation_bar ul{
	list-style: none;
	padding: 0px;
}

.navigation_bar li{
	display: inline;
	text-decoration: underline;
}

.area h5{
	word-spacing:;
	margin-left: 50px;
	background-color: tomato;
	padding-bottom: 10px;
	margin-top: -5px;
}

.area a{
	color: tomato;
	text-decoration: none;
}

.area a:hover{
	color: darkblue;
}

.area a:active{
	color: darkseagreen;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: left;
  text-decoration: underline;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: tomato;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 15px;
}

.dropdown-content a:hover {background-color: tomato}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.container{
  color: white;
  background-color: tomato;
  font-size: 30px;
  width: 23%;
  margin-top: 18%;
  margin-left: 38.5%;
  text-align: center;
  border-style: solid;
  border-color: tomato;
  padding: 10px;
  line-height: 40px;
}

table{
	border-style: none;
	border-color: none;
	border-collapse: collapse;
	width: 100%;
	color: orangered;
	font-family: sans-serif;
	text-align: center;
	font-size: 30px;
	margin-left: %;
	height: 400px;
	margin-top: 16.9%;
	background-color: gainsboro;
	}

td{
		padding: 0 5px;
		text-align: center;
		font-size: 25px;
}

th{
		padding: 0 0px;
		background-color: tomato;
		color: white;
}

tr{
		border-style: none;
		padding: 5px;
}

.blank{
	width: 100%;
	height: 100px;
	background-color: gainsboro;
}
