*{
  margin: 0px;
  padding: 0px;
}

.everything{
  max-width: 1900px;
  width: 100%;
  height: auto;
  min-width: 1900px;
}

body{
  background-color: white;
  font-family: arial, sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  margin: 0;
  float: left;
}

#img{
  background-image: url('../images/about.jpeg');
  border-style: none;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  margin-top: -19%;
  margin-bottom: 4px;
}

.container{
  color: white;
  background-color: tomato;
  font-size: 30px;
  width: 17%;
  margin-top: -20%;
  margin-left: 39%;
  text-align: center;
  border-style: solid;
  border-color: tomato;
  padding: 10px;
  line-height: 40px;
}

.area2{
  text-align: left;
  line-height: 100px;
  margin-left: 80px;
  margin-top: -90px;
  font-size: 30px;
}

.area{
  padding: 10px;
}

#main_header{
  margin-top: -10px;
  margin-left: 200px;
  margin-bottom: 300px;
  border-style: none;
  height: 800px;
  font-weight: bold;
  color: tomato;
}

#info_header{
  background-color: tomato;
  color: white;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 25px;
  padding-left: 30%;
  width: auto;
  height: auto;
}

#navigation_bar{
  text-align: right;
  margin-top: -1100px;
  margin-bottom: 300px;
  word-spacing: 20px;
  font-size: 25px;
  margin-right: 150px;
  font-weight: bold;
  color: tomato;

  border-style: solid;
  border-color: black;
}

#navigation_bar ul{
  list-style: none;
  padding: 0px;
}

#navigation_bar li{
  display: inline;
  text-decoration: underline;
}

#showcase{

}

#logo{
  background: transparent;
}

.area h5{
  word-spacing:;
  margin-left: 50px;
  background-color: tomato;
  padding-bottom: 10px;
  margin-top: -5px;
}

.area a{
  color: tomato;
  text-decoration: none;
}

.area a:hover{
  color: darkblue;
}

.area a:active{
  color: darkseagreen;
}

.area2 a{
  color: tomato;
  text-decoration: none;
}

.area2 a:active{
  color: darkseagreen;
}


.dropdown {
  position: relative;
  display: inline-block;
  text-align: left;
  text-decoration: underline;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: tomato;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 15px;
}

.dropdown-content a:hover {background-color: tomato}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.form{
  margin-top: 22%;
  margin-left: 28.5%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 40%;
}

.form h3{
  text-align: center;
  color: tomato;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}